body{
    background-color: rgb(31, 31, 32);
    font-family: Arial, Helvetica, sans-serif;
    header {
        background-color: #5dc2ee;
        padding-bottom: 2vh;
        width: 100%;
        img{
            width: 10vw;
            height: 10vw;
            transform: scale(1.1);
        }
        nav{
            flex: 100%;
            display: flex;
            justify-content: space-evenly;
            align-items: flex-end;
            padding: 1em;
            a{
                padding: 1em 3em ;
                background-color: whitesmoke;
                color: #5dc2ee;
                font-weight: bold;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 1em;
            }
        }
    }
    
    main div{
        text-align: center;
        border: solid black 1px;
        margin-left: 15vw;
        margin-right: 15vw;
        margin-top: 1vh;
        margin-bottom: 1vh;
        background-color: whitesmoke;
        border-radius: 5px;
        padding: 2em;
        img {
            width: 20%;
            height: 20%;
        }
    }
    footer {
        background-color: #5dc2ee;
        padding-bottom: 2vh;
        width: 100%;
        nav{
            flex: 100%;
            display: flex;
            justify-content: space-evenly;
            align-items: flex-start;
            padding: 1em;
            a{
                padding: 1em 1em ;
                background-color: whitesmoke;
                color: #5dc2ee;
                font-weight: bold;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 1em;
            }
        }
    }
}